{%extends "inicio/encabezado.html"%}

{%block titulo%} Comentario {%endblock%}

{% block imagen%}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{%endblock%}

{% block menu%}
  Comentario Consulta<span>DSM</span>
{%endblock%}

{%block encabezado%} 
<div class="page-header">
    <div class="page-title">
        <h3>Comentarios
        <small>Lista de Comentarios </small></h3>
    </div>
</div>

{% endblock %}



{%block contenido%}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Mensajes</th>
                
            </tr>
            
        </thead>
        <tbody>
        {% for comentarios in comentarios %}
            <tr>
                <td class="muted">{{comentarios.usuario}}</td>
                <td class="muted">{{comentarios.mensaje}}</td>
                <td class="text-center">
                    <a href="{%url 'ConsultaIndividual' comentarios.id%}">Editar</a>  
                </td>
                <td class="text-center">
                    <a href="{% url 'Eliminar' comentarios.id %}">Eliminar</a>
                </td>

            </tr>
           {% endfor%} 
        </tbody>

{%endblock%}